<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/job_list.css') }}">
</head>
<body>
    <h2>Job Roles</h2>
    <ul class="left-panel">
        <li><a href="{{ url_for('job_details') }}#database-developer" target="jobDetailsFrame">Database Developer</a></li>
        <li><a href="{{ url_for('job_details') }}#portal-administrator" target="jobDetailsFrame">Portal Administrator</a></li>
        <li><a href="{{ url_for('job_details') }}#systems-security-admin" target="jobDetailsFrame">Systems Security Administrator</a></li>
        <li><a href="{{ url_for('job_details') }}#business-systems-analyst" target="jobDetailsFrame">Business Systems Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#software-systems-engineer" target="jobDetailsFrame">Software Systems Engineer</a></li>
        <li><a href="{{ url_for('job_details') }}#business-intelligence-analyst" target="jobDetailsFrame">Business Intelligence Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#crm-technical-developer" target="jobDetailsFrame">CRM Technical Developer</a></li>
        <li><a href="{{ url_for('job_details') }}#mobile-applications-developer" target="jobDetailsFrame">Mobile Applications Developer</a></li>
        <li><a href="{{ url_for('job_details') }}#ux-designer" target="jobDetailsFrame">UX Designer</a></li>
        <li><a href="{{ url_for('job_details') }}#quality-assurance-associate" target="jobDetailsFrame">Quality Assurance Associate</a></li>
        <li><a href="{{ url_for('job_details') }}#web-developer" target="jobDetailsFrame">Web Developer</a></li>
        <li><a href="{{ url_for('job_details') }}#information-security-analyst" target="jobDetailsFrame">Information Security Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#crm-business-analyst" target="jobDetailsFrame">CRM Business Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#technical-support" target="jobDetailsFrame">Technical Support</a></li>
        <li><a href="{{ url_for('job_details') }}#project-manager" target="jobDetailsFrame">Project Manager</a></li>
        <li><a href="{{ url_for('job_details') }}#information-technology-manager" target="jobDetailsFrame">Information Technology Manager</a></li>
        <li><a href="{{ url_for('job_details') }}#programmer-analyst" target="jobDetailsFrame">Programmer Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#design-ux" target="jobDetailsFrame">Design & UX</a></li>
        <li><a href="{{ url_for('job_details') }}#solutions-architect" target="jobDetailsFrame">Solutions Architect</a></li>
        <li><a href="{{ url_for('job_details') }}#systems-analyst" target="jobDetailsFrame">Systems Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#network-security-administrator" target="jobDetailsFrame">Network Security Administrator</a></li>
        <li><a href="{{ url_for('job_details') }}#data-architect" target="jobDetailsFrame">Data Architect</a></li>
        <li><a href="{{ url_for('job_details') }}#software-developer" target="jobDetailsFrame">Software Developer</a></li>
        <li><a href="{{ url_for('job_details') }}#e-commerce-analyst" target="jobDetailsFrame">E-Commerce Analyst</a></li>
        <li><a href="{{ url_for('job_details') }}#technical-services" target="jobDetailsFrame">Technical Services/Help Desk/Tech Support</a></li>
        <li><a href="{{ url_for('job_details') }}#information-technology-auditor" target="jobDetailsFrame">Information Technology Auditor</a></li>
        <li><a href="{{ url_for('job_details') }}#database-manager" target="jobDetailsFrame">Database Manager</a></li>
        <li><a href="{{ url_for('job_details') }}#applications-developer" target="jobDetailsFrame">Applications Developer</a></li>
        <li><a href="{{ url_for('job_details') }}#database-administrator" target="jobDetailsFrame">Database Administrator</a></li>
        <li><a href="{{ url_for('job_details') }}#network-engineer" target="jobDetailsFrame">Network Engineer</a></li>
        <li><a href="{{ url_for('job_details') }}#software-engineer" target="jobDetailsFrame">Software Engineer</a></li>
        <li><a href="{{ url_for('job_details') }}#technical-engineer" target="jobDetailsFrame">Technical Engineer</a></li>
        <li><a href="{{ url_for('job_details') }}#network-security-engineer" target="jobDetailsFrame">Network Security Engineer</a></li>
        <li><a href="{{ url_for('job_details') }}#software-quality-assurance" target="jobDetailsFrame">Software Quality Assurance (QA) / Testing</a></li>
    </ul>    
</body>
</html>
